@page "/challenges"

@attribute [Authorize(Roles = Roles.Member)]

@inherits UserSettingsAwareComponent

<div class="container is-flex is-flex-direction-column">
    <div class="field m-3 is-grouped">
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="Id GeoGuessr" @bind="_geoGuessrId">
        </p>
        <div class="control">
            <button type="submit" class="button is-primary" @onclick="ImportAsync">Importer</button>
        </div>
    </div>
    <article class="message m-3">
        <div class="message-body">
            Seule l'id GeoGuessr est recevable, par exemple pour <em>https://www.geoguessr.com/challenge/uGnmazjHKBZs78JR</em>, rentrer <strong>uGnmazjHKBZs78JR</strong>.
        </div>
    </article>

    <PaginatedTable @ref=_challengesTable
                    Headers="@(new TableHeader[]
                    {
                        new("Nom de la carte", nameof(ChallengeDto.MapName)),
                        new("Créateur"),
                        new("Date", nameof(ChallengeDto.CreatedAt), true),
                        new("Meilleur score", nameof(ChallengeDto.MaxScore)),
                        new("Mon score", nameof(ChallengeDto.PlayerScore)),
                        new(string.Empty),
                        new(string.Empty),
                    })"
                    DataFunction=GetAllChallengesAsync
                    PageSize=10
                    IsNarrow=false>
        <RowContent Context="challenge">
            <td>@challenge.MapName</td>
            <td>@(challenge.CreatorName ?? "—")</td>
            <td>@challenge.CreatedAt.FormatNullWithDash()</td>
            <td>@challenge.MaxScore</td>
            <td>@challenge.PlayerScore.FormatNullWithDash()</td>
            <td class="min">
                <ActionIcon Link="@_navigationManager.ToAbsoluteUri($"/challenges/{challenge.Id}")"
                            Icon="fa-external-link-alt"
                            Tooltip="Ouvrir" />
            </td>
            <td class="min">
                <ActionIcon Link="@(new Uri($"https://www.geoguessr.com/challenge/{challenge.GeoGuessrId}"))"
                            Icon="fa-link"
                            Tooltip="Ouvrir sur GeoGuessr"
                            IsExternal="true" />
            </td>
        </RowContent>
        <FooterContent>
            <Container Condition="_user.PlayerId() is not null">
                <th colspan="999" class="has-text-right">
                    <Container Condition="_displayAll">
                        <ChildContent>
                            <button class="button is-primary" @onclick="() => FilterChallengesAsync(false)">
                                <span>Afficher les challenges non joués</span>
                            </button>
                        </ChildContent>
                        <ElseContent>
                            <button class="button is-primary" @onclick="() => FilterChallengesAsync(true)">
                                <span>Afficher tous les challenges</span>
                            </button>
                        </ElseContent>
                    </Container>
                </th>
            </Container>
        </FooterContent>
    </PaginatedTable>
</div>
