@using Humanizer;

<div class="container">
    <Table Items="Game.Challenges" Headers="@(Enumerable.Range(1, Game.Players.Count).Select(i => i.Ordinalize()).Prepend(""))">
        <RowContent Context="challenge">
            <th>@challenge.MapName</th>
            <Repeater Items="challenge.PlayerScores.OrderByDescending(p => p.Sum)" Context="player">
                <td>@(player.PlayerName)<br /><span class="is-size-7">@(player.Sum ?? 0)</span></td>
            </Repeater>
        </RowContent>
        <FooterContent>
            <th>Général</th>
            <Repeater Items="Game.Challenges.SelectMany(c => c.PlayerScores).GroupBy(c => c.PlayerId).Select(p => (name: p.First().PlayerName, score: p.Sum(ps => ps.Sum))).OrderByDescending(p => p.score)" Context="player">
                <td>@(player.name)<br /><span class="is-size-7">@player.score</span></td>
            </Repeater>
        </FooterContent>
    </Table>
</div>
