@page
@model GeoNRage.Server.Pages.AdminModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Admin</title>
</head>

<body>
    <h1>Parties</h1>

    @if (Model.Games.Count() == 0)
    {
        <strong>Aucune parties</strong>
    }
    else
    {
        <ul>
            @foreach (var game in Model.Games)
            {
                <li>
                    <form a method="post">
                        @game.Id - @game.Name
                        <input type="hidden" name="id" value="@game.Id" />
                        <input type="text" name="name" value="@game.Name" />
                        <input type="hidden" name="maps" value="@string.Join("_", game.Maps)" />
                        <input type="text" name="columns" value="@string.Join("_", game.Columns)" />
                        <input type="hidden" name="rows" value="@string.Join("_", game.Rows)" />
                        <button type="submit" asp-page-handler="edit">Edit</button>
                        <button type="submit" asp-page-handler="delete">Supprimer</button>
                        <button type="submit" asp-page-handler="reset">Vider</button>
                    </form>
                </li>
            }
        </ul>
    }


    <h1>Créér partie</h1>

    <form method="post">
        <div>
            <label asp-for="GameName"></label>
            <input asp-for="GameName" />
            <span asp-validation-for="GameName"></span>
        </div>
        <div>
            <label asp-for="GameMaps"></label>
            <input asp-for="GameMaps" />
            <span asp-validation-for="GameMaps"></span>
        </div>
        <div>
            <label asp-for="GameColumns"></label>
            <input asp-for="GameColumns" />
            <span asp-validation-for="GameColumns"></span>
        </div>
        <div>
            <label asp-for="GameRows"></label>
            <input asp-for="GameRows" />
            <span asp-validation-for="GameRows"></span>
        </div>

        <button>Créer</button>
    </form>

</body>

</html>
