@if (PlayerExperience is not null)
{
    <svg viewBox="83.098 62.575 273.065 358.399"
     xmlns="http://www.w3.org/2000/svg"
     height="@(Size)px"
     width="@(Size)px">
        <title>Niveau @PlayerExperience.Level (@PlayerExperience.CurrentLevelExperience/@PlayerExperience.ExperienceForLevel XP)</title>
        <polygon style="fill: #fff"
             points="347.632 327.107 219.632 412.441 91.632 327.107 91.632 105.241 125.765 105.241 125.765 71.107 313.499 71.107 313.499 105.241 347.632 105.241" />
        <polygon class="badge-middle"
             points="125.765 309.187 219.632 371.481 313.499 309.187 313.499 139.374 279.365 139.374 279.365 105.241 159.899 105.241 159.899 139.374 125.765 139.374" />
        <path d="M 219.632 420.974 C 217.925 420.974 216.219 420.121 214.512 419.267 L 180.379 396.227 C 176.112 393.667 175.259 388.547 177.819 384.28 C 180.379 380.013 185.499 379.16 189.766 381.72 L 218.779 401.347 L 338.246 321.987 L 338.246 113.774 L 312.646 113.774 C 307.526 113.774 304.113 110.361 304.113 105.241 L 304.113 79.641 L 134.299 79.641 L 134.299 105.241 C 134.299 110.361 130.886 113.774 125.766 113.774 L 100.166 113.774 L 100.166 322.841 L 139.419 348.441 C 143.686 351.001 144.539 356.121 141.979 360.388 C 139.419 364.655 134.299 365.508 130.032 362.948 L 87.365 334.788 C 84.805 333.081 83.098 330.521 83.098 327.108 L 83.098 105.241 C 83.098 100.121 86.511 96.708 91.631 96.708 L 117.231 96.708 L 117.231 71.108 C 117.231 65.988 120.644 62.575 125.764 62.575 L 313.497 62.575 C 318.617 62.575 322.03 65.988 322.03 71.108 L 322.03 96.708 L 347.63 96.708 C 352.75 96.708 356.163 100.121 356.163 105.241 L 356.163 327.108 C 356.163 329.668 354.456 332.228 352.75 333.935 L 224.75 419.268 C 223.045 420.974 221.339 420.974 219.632 420.974 Z" />
        <path d="M 165.872 372.334 C 165.872 367.214 162.459 363.801 157.339 363.801 C 152.219 363.801 148.806 367.214 148.806 372.334 C 148.806 377.454 152.219 380.867 157.339 380.867 C 162.459 380.867 165.872 377.454 165.872 372.334" />
        <path d="M 219.632 380.014 C 217.925 380.014 216.219 379.161 214.512 378.307 L 120.645 316.014 C 118.085 314.307 117.232 311.747 117.232 309.187 L 117.232 139.374 C 117.232 134.254 120.645 130.841 125.765 130.841 L 151.365 130.841 L 151.365 105.241 C 151.365 100.121 154.778 96.708 159.898 96.708 L 279.365 96.708 C 284.485 96.708 287.898 100.121 287.898 105.241 L 287.898 130.841 L 313.498 130.841 C 318.618 130.841 322.031 134.254 322.031 139.374 L 322.031 309.187 C 322.031 311.747 320.324 314.307 318.618 316.014 L 224.751 378.307 C 223.045 380.014 221.339 380.014 219.632 380.014 Z M 134.299 304.921 L 219.632 361.241 L 304.965 304.068 L 304.965 147.908 L 279.365 147.908 C 274.245 147.908 270.832 144.495 270.832 139.375 L 270.832 113.775 L 168.432 113.775 L 168.432 139.375 C 168.432 144.495 165.019 147.908 159.899 147.908 L 134.299 147.908 L 134.299 304.921 L 134.299 304.921 Z" />
        <text dominant-baseline="middle"
          text-anchor="middle"
          x="219.6305"
          y="250"
          style="font-family: 'Alata', cursive; font-size: 120px; pointer-events: none; user-select: none;">
            @PlayerExperience.Level
        </text>
    </svg>
}
