<div class="is-flex is-flex-direction-row is-align-items-center with-tooltip @(WithMargin ? "my-1" : string.Empty)">
    <figure class="image is-32x32">
        <img class="is-rounded" src="@IconUrl">
    </figure>

    @if(WithLink)
    {
        <a class="ml-1" href="@NavigationManager.ToAbsoluteUri($"/players/{Id}")">@Name</a>
    }
    else
    {
        <span class="ml-1">@Name</span>
    }

    <span class="tooltip-wrapper">
        <span class="tooltip-content">
            <PlayerCard Id="@Id"></PlayerCard>
        </span>
    </span>
</div>

