@typeparam T

<div class="m-3">
    <Container Condition="CanSearch">
        <div class="field">
            <p class="control has-icons-right">
                <input class="input" type="text" placeholder="Rechercher" @oninput="OnFilter">
                <span class="icon is-small is-right">
                    <i class="fas fa-search"></i>
                </span>
            </p>
        </div>
    </Container>
    <div class="table-container">
        <table class="table is-bordered is-striped is-hoverable @(IsNarrow ? "is-narrow" : "") @(IsFullWidth ? "is-fullwidth" : "")">
            <thead>
                <tr>
                    <Repeater Items="Headers" Context="header">
                        <th>
                            <div class="is-flex">
                                <span>@header.Title</span>
                                <Container Condition="header.CanSort">
                                    <span class="delimiter"></span>
                                    <span class="icon ml-3 icon-hand @(IsColumnSorted(header.Property, true) ? "has-text-link" : "")" @onclick="() => Sort(header.Property, true)">
                                        <i class="fas fa-sort-amount-up-alt"></i>
                                    </span>
                                    <span class="icon icon-hand @(IsColumnSorted(header.Property, false) ? "has-text-link" : "")" @onclick="() => Sort(header.Property, false)">
                                        <i class="fas fa-sort-amount-down"></i>
                                    </span>
                                </Container>
                            </div>
                        </th>
                    </Repeater>
                </tr>
            </thead>
            <tbody>
                <Repeater Items="DisplayedItems" Context="item">
                    <tr>
                        @RowContent(item)
                    </tr>
                </Repeater>
            </tbody>
            <Container Condition="FooterContent is not null">
                <ChildContent>
                    <tfoot>
                        <tr>
                            @FooterContent
                        </tr>
                    </tfoot>
                </ChildContent>
                <ElseContent>
                    <Container Condition="ShowRowCount">
                        <tfoot>
                            <tr>
                                <td style="text-align: right;" colspan="@Headers.Count()">@DisplayedItems.Count élément(s)</td>
                            </tr>
                        </tfoot>
                    </Container>
                </ElseContent>
            </Container>
        </table>
    </div>

    <Container Condition="Paginate && PageCount > 1">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous" @onclick="() => ChangePage(CurrentPage - 1)" disabled="@(CurrentPage == 1)">Précedent</a>
            <a class="pagination-next" @onclick="() => ChangePage(CurrentPage + 1)" disabled="@(CurrentPage == PageCount)">Suivant</a>
            <ul class="pagination-list">
                <Container Condition="PageCount <= 5">
                    <ChildContent>
                        <Repeater Items="Enumerable.Range(1, PageCount)" Context="pageNumber">
                            <li>
                                <a class="pagination-link @(pageNumber == CurrentPage ? "is-current" : "")" @onclick="() => ChangePage(pageNumber)">@pageNumber</a>
                            </li>
                        </Repeater>
                    </ChildContent>
                    <ElseContent>
                        <Container Condition="CurrentPage > 1">
                            <li>
                                <a class="pagination-link" @onclick="() => ChangePage(1)">1</a>
                            </li>
                        </Container>
                        <Container Condition="CurrentPage > 2">
                            <li>
                                <span class="pagination-ellipsis">&hellip;</span>
                            </li>
                            <li>
                                <a class="pagination-link" @onclick="() => ChangePage(CurrentPage - 1)">@(CurrentPage - 1)</a>
                            </li>
                        </Container>
                        <li>
                            <a class="pagination-link is-current" @onclick="() => ChangePage(CurrentPage)">@CurrentPage</a>
                        </li>
                        <Container Condition="CurrentPage < PageCount - 1">
                            <li>
                                <a class="pagination-link" @onclick="() => ChangePage(CurrentPage + 1)">@(CurrentPage + 1)</a>
                            </li>
                            <li>
                                <span class="pagination-ellipsis">&hellip;</span>
                            </li>
                        </Container>
                        <Container Condition="CurrentPage < PageCount">
                            <li>
                                <a class="pagination-link" @onclick="() => ChangePage(PageCount)">@PageCount</a>
                            </li>
                        </Container>
                    </ElseContent>
                </Container>
            </ul>
        </nav>
    </Container>
</div>
