<nav class="navbar is-radiusless" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item page-header" href="@NavigationManager.ToAbsoluteUri("/")">Geo'N Rage</a>
            <span class="navbar-burger" data-target="navbarMenu" @onclick="ToggleMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu @(ShowMenu ? "is-active" : "")">
            <div class="navbar-start">
                <NavLink Match="NavLinkMatch.Prefix" class="navbar-item" ActiveClass="is-active" href="@NavigationManager.ToAbsoluteUri("/games")">Parties</NavLink>
                <NavLink Match="NavLinkMatch.Prefix" class="navbar-item" ActiveClass="is-active" href="@NavigationManager.ToAbsoluteUri("/challenges")">Challenges</NavLink>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Statistiques
                    </a>

                    <div class="navbar-dropdown">
                        <NavLink Match="NavLinkMatch.All" class="navbar-item" ActiveClass="is-active" href="@NavigationManager.ToAbsoluteUri("/statistics/players")">Joueurs</NavLink>
                        <NavLink Match="NavLinkMatch.All" class="navbar-item" ActiveClass="is-active" href="@NavigationManager.ToAbsoluteUri("/statistics/locations")">Lieux</NavLink>
                    </div>
                </div>
                <AuthorizeView>
                    <NavLink Match="NavLinkMatch.Prefix" href="@NavigationManager.ToAbsoluteUri("/admin")" class="navbar-item" ActiveClass="is-active">Administration</NavLink>
                </AuthorizeView>
            </div>
            <div class="navbar-end">
                <AuthorizeView>
                    <Authorized>
                        <span class="navbar-item">
                            @Name
                        </span>
                        <span class="navbar-item">
                            <button class="button is-link" @onclick="@LogoutClickAsync">
                                <span class="icon">
                                    <i class="fas fa-sign-in-alt"></i>
                                </span>
                                <span>Déconnexion</span>
                            </button>
                        </span>
                    </Authorized>
                    <Authorizing>
                        <span class="navbar-item">
                            <GeoNRage.App.Components.Admin.Login />
                        </span>
                    </Authorizing>
                    <NotAuthorized>
                        <span class="navbar-item">
                            <GeoNRage.App.Components.Admin.Login />
                        </span>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>
