@page "/admin/challenges"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = Roles.Admin)]

@using Humanizer;

<GeoNRage.App.Pages.Admin.AdminMenu />

<Container Condition="Challenges?.Any() == true">
    <ChildContent>
        <div class="container is-fluid">
            <Container Condition="!string.IsNullOrWhiteSpace(Error)">
                <div class="notification is-danger m-3">
                    @Error
                </div>
            </Container>

            <Table Items="Challenges"
                   Headers="@(new TableHeader[]
                          {
                              new("Id"),
                              new("Carte"),
                              new("Partie"),
                              new("Mise à jour"),
                              new("À jour"),
                              new(string.Empty),
                              new(string.Empty),
                          })"
                   PageSize="15"
                   Paginate="true"
                   @ref="ChallengesTable">
                <RowContent Context="challenge">
                    <td>@challenge.Id</td>
                    <td>@challenge.MapName</td>
                    <td>@challenge.GameName</td>
                    <td>@(challenge.LastUpdate is null ? "—" : challenge.LastUpdate.Value.ToLocalTime().Humanize())</td>
                    <td>
                        <Container Condition="challenge.UpToDate">
                            <ChildContent>
                                <span class="icon has-text-success">
                                    <i class="fas fa-check"></i>
                                </span>
                            </ChildContent>
                            <ElseContent>
                                <Container Condition="challenge.CompletedBy > 0">
                                    <ChildContent>
                                        <span class="icon has-text-warning">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </ChildContent>
                                    <ElseContent>
                                        <span class="icon has-text-danger">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </ElseContent>
                                </Container>
                            </ElseContent>
                        </Container>
                    </td>
                    <td class="min">
                        <span class="icon is-small has-text-info" style="cursor:pointer;" @onclick="() => ImportChallengeAsync(challenge)">
                            <i class="fas fa-sync-alt"></i>
                        </span>
                    </td>
                    <td class="min">
                        <a class="has-text-danger" @onclick="(() => DeleteChallengeAsync(challenge.Id))">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </RowContent>
            </Table>
        </div>
    </ChildContent>

    <ElseContent>
        <LoadingAnimation Animated="true">
            Chargement des challenges...
        </LoadingAnimation>
    </ElseContent>
</Container>
