@page "/admin/games"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<GeoNRage.App.Components.Admin.AdminMenu />

<div class="container is-fluid m-3">
    <Container Condition="Games?.Any() == true">
        <table class="table is-bordered is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Cartes</th>
                    <th>Joueurs</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <Repeater Items="Games" Context="game">
                    <tr>
                        <td>@game.Id</td>
                        <td>@game.Name</td>
                        <td>@game.Date.ToShortDateString()</td>
                        <td>@game.Challenges.Count</td>
                        <td>@game.Players.Count</td>
                        <td class="has-text-centered">
                            <a class="has-text-info" @onclick="(() => EditGame(game.Id))">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                            <a class="has-text-danger" @onclick="(() => DeleteGame(game.Id))">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </Repeater>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6" class="has-text-right">
                        <button class="button is-primary" @onclick="ShowGameCreation">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Créer</span>
                        </button>
                    </th>
                </tr>
            </tfoot>
        </table>
    </Container>
</div>

<div class="modal @(ShowEditForm ? "is-active" : "")">
    <EditForm Model="Game" OnValidSubmit="CreateOrUpdateGameAsync" @ref="Form">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edition de partie</p>
                <button class="delete" aria-label="close" @onclick="() => ShowEditForm = false" type="button"></button>
            </header>
            <section class="modal-card-body">
                <DataAnnotationsValidator />

                <Container Condition="!string.IsNullOrWhiteSpace(Error)">
                    <div class="notification is-danger">
                        @Error
                    </div>
                </Container>

                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        <InputText @bind-Value="Game.Name" placeholder="Nom" class="input" />
                        <p class="help is-danger">
                            <ValidationMessage For="@(() => Game.Name)"></ValidationMessage>
                        </p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Date</label>
                    <div class="control">
                        <InputDate @bind-Value="Game.Date" placeholder="Date" class="input" />
                        <p class="help is-danger">
                            <ValidationMessage For="@(() => Game.Date)"></ValidationMessage>
                        </p>
                    </div>
                </div>

                <Repeater Items="@Game.Challenges" Context="challenge">
                    <div class="field">
                        <label class="label">Lien</label>
                        <div class="control">
                            <div class="field is-grouped">
                                <div class="control is-expanded">
                                    <InputText @bind-Value="challenge.Link" placeholder="Nom" class="input" />
                                    <p class="help is-danger">
                                        <ValidationMessage For="@(() => challenge.Link)"></ValidationMessage>
                                    </p>
                                </div>
                                <div class="control">
                                    <button class="button is-info" @onclick="() => challenge.Link = null" type="button">
                                        <span class="icon">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="control">
                                    <div class="select">
                                        <InputSelect @bind-Value="challenge.MapId">
                                            <Repeater Items="@Maps" Context="map">
                                                <option value="@map.Id">@map.Name</option>
                                            </Repeater>
                                        </InputSelect>
                                    </div>
                                </div>
                                <div class="control">
                                    <button class="button is-danger" @onclick="() => Game.Challenges.Remove(challenge)" type="button">
                                        <span class="icon">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </Repeater>

                <button @onclick="() => Game.Challenges.Add(new ChallengeCreateOrEditDto { MapId = Maps.First().Id })" type="button" class="button is-primary">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span>Ajouter carte</span>
                </button>

                <CheckboxList Data="@Players" LabelSelector="@(p => p.Name)" IdSelector="@(p => p.Id)" SelectedIds="@Game.PlayerIds" />
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" type="submit">Valider</button>
                <button class="button is-danger" @onclick="() => ShowEditForm = false" type="button">Fermer</button>
            </footer>
        </div>
    </EditForm>
</div>
