@page "/admin/games"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = Roles.Admin)]

<GeoNRage.App.Pages.Admin.AdminMenu />

<Container Condition="_games?.Any() == true">
    <ChildContent>
        <div class="container is-fluid">
            <Table Items="_games"
                   Headers="@(new TableHeader[]
                          {
                              new("Id", false, string.Empty),
                              new("Nom", false, string.Empty),
                              new("Date", false, string.Empty),
                              new("Cartes", false, string.Empty),
                              new("Joueurs", false, string.Empty),
                              new("", false, string.Empty),
                              new("", false, string.Empty),
                          })"
                   PageSize="15"
                   Paginate="true"
                   @ref="_gamesTable">
                <RowContent Context="game">
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Date.ToShortDateString()</td>
                    <td>@game.Challenges.Count()</td>
                    <td>@game.PlayerIds.Count()</td>
                    <td class="min">
                        <a class="has-text-info" @onclick="(() => CreateOrEditGameAsync(game))">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </td>
                    <td class="min">
                        <a class="has-text-danger" @onclick="(() => DeleteGameAsync(game.Id))">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </RowContent>
                <FooterContent>
                    <th colspan="7" class="has-text-right">
                        <button class="button is-primary" @onclick="(() => CreateOrEditGameAsync(null))">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Créer</span>
                        </button>
                    </th>
                </FooterContent>
            </Table>
        </div>
    </ChildContent>

    <ElseContent>
        <LoadingAnimation Animated="true">
            Chargement des parties...
        </LoadingAnimation>
    </ElseContent>
</Container>
