@page "/admin/import"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<GeoNRage.App.Components.Admin.AdminMenu />

<div class="container is-fluid m-3">
    <div class="columns">
        <div class="column is-one-third-fullhd is-full-touch is-half-desktop">
            <EditForm Model="ChallengeImportDto" OnValidSubmit="ImportAsync" @ref="Form">
                <DataAnnotationsValidator />

                <Container Condition="!string.IsNullOrWhiteSpace(Error)">
                    <div class="notification is-danger">
                        @Error
                    </div>
                </Container>

                <Container Condition="Result is not null && !DataImported">
                    <div class="notification is-info">
                        <p>Import réussi !</p>
                        <p>Carte : @Result!.MapName</p>
                    </div>
                </Container>

                <Container Condition="Result is not null && DataImported">
                    <div class="notification is-link">
                        <p>Ajout des données réussi !</p>
                        <a href="@NavigationManager.ToAbsoluteUri($"/games/{SelectedGameId}")">Voir la partie</a>
                    </div>
                </Container>

                <div class="field">
                    <label class="label">Lien</label>
                    <div class="control">
                        <InputText @bind-Value="ChallengeImportDto.Link" placeholder="Lien" class="input" />
                        <p class="help is-danger">
                            <ValidationMessage For="@(() => ChallengeImportDto.Link)"></ValidationMessage>
                        </p>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Partie</label>
                    <div class="control">
                        <div class="select">
                            <InputSelect @bind-Value="SelectedGameId">
                                <Repeater Items="@Games" Context="game">
                                    <option value="@game.Id">#@game.Id - @game.Name</option>
                                </Repeater>
                            </InputSelect>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <InputCheckbox @bind-Value="ChallengeImportDto.PersistData" />
                            Sauvegarder les données
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <InputCheckbox @bind-Value="ChallengeImportDto.OverrideData" />
                            Ecraser les données
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">Valider</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
