@page "/admin/maps"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = Roles.Admin)]

<GeoNRage.App.Pages.Admin.AdminMenu />

<Container Condition="Maps?.Any() == true">
    <ChildContent>
        <div class="container is-fluid">
            <Table Items="Maps"
                   Headers="@(new TableHeader[]
                          {
                              new("Id"),
                              new("Nom"),
                              new("Nom GeoGuessr"),
                              new(string.Empty),
                              new(string.Empty),
                          })"
                   PageSize="15"
                   Paginate="true"
                   @ref="MapsTable">
                <RowContent Context="map">
                    <td>@map.Id</td>
                    <td>
                        @map.Name
                        @if (@map.IsMapForGame)
                        {
                            <span class="tag is-link tag-map-for-game">Carte pour partie</span>
                        }
                    </td>
                    <td>@map.GeoGuessrName</td>
                    <td class="min">
                        <a class="has-text-info" @onclick="(() => EditMapAsync(map))">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </td>
                    <td class="min">
                        <a class="has-text-danger" @onclick="(() => DeleteMapAsync(map.Id))">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </RowContent>
            </Table>
        </div>
    </ChildContent>

    <ElseContent>
        <LoadingAnimation Animated="true">
            Chargement des cartes...
        </LoadingAnimation>
    </ElseContent>
</Container>
