@page "/admin/maps"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = Roles.Admin)]

<GeoNRage.App.Pages.Admin.AdminMenu />

<Container Condition="Maps?.Any() == true">
    <ChildContent>
        <div class="container is-fluid">
            <Table Items="Maps"
                   Headers="@(new TableHeader[]
                          {
                              new("Id", false, string.Empty),
                              new("Nom", false, string.Empty),
                              new("", false, string.Empty),
                              new("", false, string.Empty),
                          })"
                   PageSize="20"
                   Paginate="true"
                   @ref="MapsTable">
                <RowContent Context="map">
                    <td>@map.Id</td>
                    <td>
                        @map.Name
                        @if (@map.IsMapForGame)
                        {
                            <span class="tag is-link tag-map-for-game">Carte pour partie</span>
                        }
                    </td>
                    <td class="min">
                        <a class="has-text-info" @onclick="(() => EditMap(map.Id))">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </td>
                    <td class="min">
                        <a class="has-text-danger" @onclick="(() => DeleteMap(map.Id))">
                            <span class="icon">
                                <i class="fas fa-trash-alt"></i>
                            </span>
                        </a>
                    </td>
                </RowContent>
            </Table>
        </div>
    </ChildContent>

    <ElseContent>
        <LoadingAnimation Animated="true">
            Chargement des cartes...
        </LoadingAnimation>
    </ElseContent>
</Container>

<div class="modal @(ShowEditForm ? "is-active" : "")">
    <EditForm Model="Map" OnValidSubmit="UpdateMapAsync" @ref="Form">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edition de carte</p>
                <button class="delete" aria-label="close" @onclick="() => ShowEditForm = false" type="button"></button>
            </header>
            <section class="modal-card-body">
                <DataAnnotationsValidator />

                <Container Condition="!string.IsNullOrWhiteSpace(Error)">
                    <div class="notification is-danger">
                        @Error
                    </div>
                </Container>

                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        <InputText @bind-Value="Map.Name" placeholder="Nom" class="input" />
                        <p class="help is-danger">
                            <ValidationMessage For="@(() => Map.Name)"></ValidationMessage>
                        </p>
                    </div>
                </div>

                <div class="field">
                    <label class="checkbox">
                        <InputCheckbox @bind-Value="Map.IsMapForGame" class="checkbox" />
                        Carte pour partie
                    </label>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" type="submit">Valider</button>
                <button class="button is-danger" @onclick="() => ShowEditForm = false" type="button">Fermer</button>
            </footer>
        </div>
    </EditForm>
</div>
