@page "/admin/players"

@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = Roles.Admin)]

<GeoNRage.App.Pages.Admin.AdminMenu />

<div class="container is-fluid m-3">
    <Container Condition="Players?.Any() == true">
        <table class="table is-bordered is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Joueur lié</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <Repeater Items="Players" Context="player">
                    <tr>
                        <td>@player.Id</td>
                        <td>@player.Name</td>
                        <td>@player.AssociatedPlayerName.FormatNullWithDash()</td>
                        <td class="has-text-centered">
                            <a class="has-text-info" @onclick="(() => EditPlayer(player.Id))">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                            <a class="has-text-danger" @onclick="(() => DeletePlayer(player.Id))">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </Repeater>
            </tbody>
        </table>
    </Container>
</div>

<div class="modal @(ShowEditForm ? "is-active" : "")">
    <EditForm Model="Player" OnValidSubmit="UpdatePlayerAsync" @ref="Form">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edition de joueur</p>
                <button class="delete" aria-label="close" @onclick="() => ShowEditForm = false" type="button"></button>
            </header>
            <section class="modal-card-body">
                <DataAnnotationsValidator />

                <Container Condition="!string.IsNullOrWhiteSpace(Error)">
                    <div class="notification is-danger">
                        @Error
                    </div>
                </Container>

                <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                        <InputText @bind-Value="Player.Name" placeholder="Nom" class="input" />
                        <p class="help is-danger">
                            <ValidationMessage For="@(() => Player.Name)"></ValidationMessage>
                        </p>
                    </div>
                </div>

                <div class="field">
					<label class="label">Joueur lié</label>
					<div class="control">
						<div class="select">
							<InputSelect @bind-Value="Player.AssociatedPlayerId">
								<option value="">—</option>
								<Repeater Items="@Players" Context="player">
									<option value="@player.Id">@player.Name</option>
								</Repeater>
							</InputSelect>
						</div>
					</div>
				</div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-primary" type="submit">Valider</button>
                <button class="button is-danger" @onclick="() => ShowEditForm = false" type="button">Fermer</button>
            </footer>
        </div>
    </EditForm>
</div>
