@page "/challenges"

<div class="container">
    <Container Condition="!string.IsNullOrWhiteSpace(Error)">
        <div class="notification is-danger m-3">
            @Error
        </div>
    </Container>

    <div class="field m-3 is-grouped">
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="Id GeoGuessr" @bind="GeoGuessrId">
        </p>
        <div class="control">
            <button type="submit" class="button is-primary" @onclick="Import">Importer</button>
        </div>
    </div>
    <article class="message m-3">
        <div class="message-body">
            Seule l'id GeoGuessr est recevable, par exemple pour <em>https://www.geoguessr.com/challenge/uGnmazjHKBZs78JR</em>, rentrer <strong>uGnmazjHKBZs78JR</strong>.
        </div>
    </article>

    <Container Condition="Challenges?.Any() == true">
        <ChildContent>
            <Table @ref="ChallengesTable"
                   Items="Challenges"
                   Headers="@(new TableHeader[]
                                  {
                                      new("Nom", true, nameof(ChallengeDto.MapName)),
                                      new("Id GeoGuessr", false, string.Empty),
                                      new("Créateur", false, string.Empty),
                                      new("Limite de temps", false, string.Empty),
                                      new("Nombre de joueurs", false, string.Empty),
                                      new("Meilleur score", true, nameof(PlayerScoreDto.Sum)),
                                      new("", false, string.Empty),
                                      new("", false, string.Empty),
                                  })"
                   Paginate="true"
                   PageSize="15"
                   IsNarrow="false"
                   SortFunction="Sort">
                <RowContent Context="challenge">
                    <td>@challenge.MapName</td>
                    <td>@challenge.GeoGuessrId</td>
                    <td>@(challenge.CreatorName ?? "—")</td>
                    <td>@challenge.TimeLimit</td>
                    <td>@challenge.PlayerScores.Count</td>
                    <td>@challenge.PlayerScores.Max(p => p.Sum)</td>
                    <td class="min">
                        <ActionIcon Link="@NavigationManager.ToAbsoluteUri($"/challenges/{challenge.Id}")"
                                    Icon="fa-external-link-alt"
                                    Tooltip="Ouvrir" />
                    </td>
                    <td class="min">
                        <ActionIcon Link="@(new Uri($"https://www.geoguessr.com/challenge/{challenge.GeoGuessrId}"))"
                                    Icon="fa-link"
                                    Tooltip="Ouvrir sur GeoGuessr"
                                    IsExternal="true" />
                    </td>
                </RowContent>
                <FooterContent>
                    <th colspan="7" class="has-text-right">
                        <button class="button is-primary" @onclick="ShowAllMapToggleAsync">
                            @(ShowAllMaps ? "Afficher les cartes principales" : "Afficher toutes les cartes")
                        </button>
                    </th>
                </FooterContent>
            </Table>
        </ChildContent>

        <ElseContent>
            <LoadingAnimation Animated="true">
                Chargement des challenges...
            </LoadingAnimation>
        </ElseContent>
    </Container>
</div>
