@page "/challenges"

@inherits MapStatusAwareComponent

<div class="container">
    <Container Condition="!string.IsNullOrWhiteSpace(Error)">
        <div class="notification is-danger m-3">
            @Error
        </div>
    </Container>

    <Container Condition="ChallengeImported">
        <div class="notification is-success m-3">
            Import réussi !
        </div>
    </Container>

    <div class="field m-3 is-grouped">
        <p class="control is-expanded">
            <input class="input" type="text" placeholder="Id GeoGuessr" @bind="GeoGuessrId">
        </p>
        <div class="control">
            <button type="submit" class="button is-primary" @onclick="Import">Importer</button>
        </div>
    </div>
    <article class="message m-3">
        <div class="message-body">
            Seule l'id GeoGuessr est recevable, par exemple pour <em>https://www.geoguessr.com/challenge/uGnmazjHKBZs78JR</em>, rentrer <strong>uGnmazjHKBZs78JR</strong>.
        </div>
    </article>

    <Container Condition="Challenges is not null">
        <ChildContent>
            <div class="m-3">
                <Expander IsExpanded="false" Title="Filtrer les joueurs">
                    Cacher les cartes complétées par les joueurs sélectionnés

                    <CheckboxList Data="Players" IdSelector="p => p.Id" LabelSelector="p => p.Name" SelectedIds="PlayersToHide" />
                    <button class="button is-primary" @onclick="FilterChallengesAsync">
                        Filtrer
                    </button>
                </Expander>
            </div>

            <Table @ref="ChallengesTable"
                   Items="Challenges"
                   Headers="@(new TableHeader[]
                                  {
                                      new("Nom de la carte", true, nameof(ChallengeDto.MapName)),
                                      new("Créateur", false, string.Empty),
                                      new("Meilleur score", true, nameof(ChallengeDto.MaxScore)),
                                      new("", false, string.Empty),
                                      new("", false, string.Empty),
                                  })"
                   Paginate="true"
                   PageSize="15"
                   IsNarrow="false"
                   SortFunction="Sort">
                <RowContent Context="challenge">
                    <td>@challenge.MapName</td>
                    <td>@(challenge.CreatorName ?? "—")</td>
                    <td>@challenge.MaxScore</td>
                    <td class="min">
                        <ActionIcon Link="@NavigationManager.ToAbsoluteUri($"/challenges/{challenge.Id}")"
                                    Icon="fa-external-link-alt"
                                    Tooltip="Ouvrir" />
                    </td>
                    <td class="min">
                        <ActionIcon Link="@(new Uri($"https://www.geoguessr.com/challenge/{challenge.GeoGuessrId}"))"
                                    Icon="fa-link"
                                    Tooltip="Ouvrir sur GeoGuessr"
                                    IsExternal="true" />
                    </td>
                </RowContent>
            </Table>
        </ChildContent>

        <ElseContent>
            <LoadingAnimation Animated="true">
                Chargement des challenges...
            </LoadingAnimation>
        </ElseContent>
    </Container>
</div>
