@page "/challenges/{Id:int}"

<Container Condition="Loaded && ChallengeFound">
    <div class="container is-fluid is-flex is-align-items-center is-align-self-center is-justify-content-center">
        <div class="card m-3">
            <header class="card-header">
                <div class="card-header-title is-size-3 game-title" style="display: block">
                    <h1 class="title">
                        @Challenge.MapName
                        <a href="https://www.geoguessr.com/challenge/@Challenge.GeoGuessrId" target="_blank" class="action-button">
                            <span class="icon">
                                <i class="fas fa-link" aria-hidden="true"></i>
                            </span>
                        </a>
                    </h1>
                </div>
                <div class="card-header-icon">
                    <div class="field has-addons">
                        <p class="control">
                            <button class="button" @onclick="Refresh">
                                <span class="is-hidden-touch"></span>
                                <span class="icon is-small">
                                    <i class="fas fa-sync-alt"></i>
                                </span>
                                <span class="is-hidden-touch">Rafraîchir</span>
                            </button>
                        </p>
                    </div>
                </div>
            </header>
            <div class="card-content">
                <div class="table-container">
                    <table>
                        <tr>
                            <th>
                            </th>
                            <Repeater Items="Challenge.PlayerScores.OrderByDescending(p => p.PlayerGuesses.Sum(g => g.Score))" Context="playerScore">
                                <th>@playerScore.PlayerName</th>
                            </Repeater>
                        </tr>

                        <Repeater Items="Enumerable.Range(1, 5)" Context="round">
                            <tr>
                                <th>Round @round</th>
                                <Repeater Items="Challenge.PlayerScores.OrderByDescending(p => p.PlayerGuesses.Sum(g => g.Score))" Context="playerScore">
                                    @{
                                        var guess = Challenge.PlayerScores.FirstOrDefault(x => x.PlayerId == playerScore.PlayerId)?.PlayerGuesses.FirstOrDefault(g => g.RoundNumber == round);
                                    }
                                    <Container Condition="guess is not null">
                                        <ChildContent>
                                            <td class="@(guess!.Score == 5000 ? "perfect" : (guess.Score == 4999 ? "almost-perfect" : "default-score"))">
                                                @guess!.Score <br />
                                                <small>@($"{(int?)guess.Distance}m") / @($"{guess.Time}s")</small>
                                            </td>
                                        </ChildContent>
                                        <ElseContent>
                                            <td>—</td>
                                        </ElseContent>
                                    </Container>
                                </Repeater>
                            </tr>
                        </Repeater>

                        <tr>
                            <th>Total</th>
                            <Repeater Items="Challenge.PlayerScores.OrderByDescending(p => p.PlayerGuesses.Sum(g => g.Score))" Context="playerScore">
                                <th>
                                    @(playerScore.PlayerGuesses.Sum(g => g.Score) ?? 0) <br />
                                    <small>@($"{(int?)playerScore.PlayerGuesses.Sum(g => g.Distance)}m") / @($"{playerScore.PlayerGuesses.Sum(g => g.Time)}s")</small>
                                </th>
                            </Repeater>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</Container>

<Container Condition="!Loaded && ChallengeFound">
    <LoadingAnimation>
        Chargement du challenge @(Id)...
    </LoadingAnimation>
</Container>

<Container Condition="!ChallengeFound">
    <PageNotFound />
</Container>
