@page "/games/{Id:int}"

<Container Condition="IsConnected && Game is not null">
    <h1>#@Game!.Id — @Game!.Name</h1>

    <table>
        <Repeater Items="Game.Maps">
            <ItemTemplate Context="map">
                <tr>
                    <th>@map</th>
                    <Repeater Items="Game.Columns">
                        <ItemTemplate Context="column">
                            <th>@column</th>
                        </ItemTemplate>
                    </Repeater>
                </tr>

                <Repeater Items="Game.Rows">
                    <ItemTemplate Context="row">
                        <tr>
                            <th>@row</th>
                            <Repeater Items="Game.Columns">
                                <ItemTemplate Context="column">
                                    @{
                                        var key = $"{map}_{column}_{row}";
                                    }
                                    <td>
                                        <NumericInput @key="@key" Value="@Game[key]" ValueChanged="@((e) => { Send(key, e);})" Disabled="@Game.Locked" FocusChanged="InputFocused"></NumericInput>
                                    </td>
                                </ItemTemplate>
                            </Repeater>
                        </tr>
                    </ItemTemplate>
                </Repeater>

                <tr>
                    <th>Total @map</th>
                    <Repeater Items="Game.Columns">
                        <ItemTemplate Context="column">
                            <td>@Totals[$"{map}_{column}"].total (@Totals[$"{map}_{column}"].position)</td>
                        </ItemTemplate>
                    </Repeater>
                </tr>
            </ItemTemplate>
        </Repeater>

        <tr style="border-bottom: 1px solid #000;"></tr>

        <tr class="bordered">
            <th>Total </th>
            <Repeater Items="Game.Columns">
                <ItemTemplate Context="column">
                    <td>@Totals[$"{column}"].total (@Totals[$"{column}"].position)</td>
                </ItemTemplate>
            </Repeater>
        </tr>
    </table>
</Container>

<Container Condition="!IsConnected || Game is null">
    <p>Chargement...</p>
</Container>


