@page "/games/{Id:int}"

@using ChartJs.Blazor;

<Container Condition="IsConnected && Game is not null">
    <h1>#@Game!.Id — @Game!.Name</h1>

    <div class="container">
        <table>
            <Virtualize Items="Game.Maps" Context="map">
                <tr>
                    <th>@map</th>
                    <Virtualize Items="Game.Players" Context="player">
                        <th>@player</th>
                    </Virtualize>
                </tr>

                <Virtualize Items="Enumerable.Range(1, Game.Rounds).ToList()" Context="round">
                    <tr>
                        <th>Round @round</th>
                        <Virtualize Items="Game.Players" Context="player">
                            @{
                                var key = $"{map}_{player}_Round {round}";
                            }
                            <td>
                                <NumericInput @key="@key" Value="@Game[key]" ValueChanged="@((e) => { Send(key, e);})" Disabled="@Game.Locked" FocusChanged="InputFocused"></NumericInput>
                            </td>
                        </Virtualize>
                    </tr>
                </Virtualize>

                <tr>
                    <th>Total @map</th>
                    <Virtualize Items="Game.Players" Context="player">
                        <td>@Totals[$"{map}_{player}"].total (@Totals[$"{map}_{player}"].position)</td>
                    </Virtualize>
                </tr>
            </Virtualize>

            <tr style="border-bottom: 1px solid #000;"></tr>

            <tr class="bordered">
                <th>Total </th>
                <Virtualize Items="Game.Players" Context="player">
                    <td>@Totals[$"{player}"].total (@Totals[$"{player}"].position)</td>
                </Virtualize>
            </tr>
        </table>

        <div>
            <Chart Config="PlotConfig" Height="500" Width="800" @ref="Chart"></Chart>
        </div>
    </div>
</Container>

<Container Condition="!IsConnected || Game is null">
    <p>Chargement...</p>
</Container>
