@page "/games/{Id:int}"

@using ChartJs.Blazor;

<Container Condition="Game is not null">
    <h1>#@Game!.Id — @Game!.Name</h1>

    <div class="container">
        <table>
            <Repeater Items="Game.Maps" Context="map">
                <tr>
                    <th>@map</th>
                    <Repeater Items="Game.Players" Context="player">
                        <th>@player</th>
                    </Repeater>
                </tr>

                <Repeater Items="Enumerable.Range(1, Game.Rounds)" Context="round">
                    <tr>
                        <th>Round @round</th>
                        <Repeater Items="Game.Players" Context="player">
                            @{
                                var key = $"{map}_{player}_Round {round}";
                            }
                            <td>
                                <NumericInput @key="@key" Value="@Game[key]" ValueChanged="@((e) => { Send(key, e);})" Disabled="@Game.Locked" FocusChanged="InputFocused"></NumericInput>
                            </td>
                        </Repeater>
                    </tr>
                </Repeater>

                <tr>
                    <th>Total @map</th>
                    <Repeater Items="Game.Players" Context="player">
                        <td>@Totals.GetValueOrDefault($"{map}_{player}").total (@Totals.GetValueOrDefault($"{map}_{player}").position)</td>
                    </Repeater>
                </tr>
            </Repeater>

            <tr style="border-bottom: 1px solid #000;"></tr>

            <tr class="bordered">
                <th>Total </th>
                <Repeater Items="Game.Players" Context="player">
                    <td>@Totals.GetValueOrDefault($"{player}").total (@Totals.GetValueOrDefault($"{player}").position)</td>
                </Repeater>
            </tr>
        </table>

        <div>
            <Chart Config="PlotConfig" Height="500" Width="800" @ref="Chart"></Chart>
        </div>
    </div>
</Container>

<Container Condition="Game is null">
    <Loader Label="@($"Chargement de la partie {Id}...")"></Loader>
</Container>
