@page "/statistics/players"

@inherits UserSettingsAwareComponent

<Container Condition="Players?.Any() == true">
    <ChildContent>
        <div class="container">
            <Table Items="Players"
                   Headers="@(new TableHeader[]
                                  {
                                      new("Joueur", true, nameof(PlayerStatisticDto.Name)),
                                      new("Nombre de 5000", true, nameof(PlayerStatisticDto.NumberOf5000)),
                                      new("Nombre de 4999 😏", true, nameof(PlayerStatisticDto.NumberOf4999)),
                                      new("Nombre de carte complétées", true, nameof(PlayerStatisticDto.ChallengesCompleted)),
                                      new("Moyenne par round", true, nameof(PlayerStatisticDto.RoundAverage)),
                                      new("Meilleure partie", true, nameof(PlayerStatisticDto.BestGameSum))
                                  })"
                   SortFunction="Sort">
                <RowContent Context="player">
                    <th><a href="@NavigationManager.ToAbsoluteUri($"/players/{player.Id}")">@player.Name</a></th>
                    <td>@player.NumberOf5000</td>
                    <td>@player.NumberOf4999</td>
                    <td>@player.ChallengesCompleted</td>
                    <td>@(player.RoundAverage?.ToString("F1") ?? "—")</td>
                    <td>
                        <Container Condition="player.BestGameSum is not null && player.BestGameId is not null">
                            <ChildContent>
                                @player.BestGameSum (<a href="@NavigationManager.ToAbsoluteUri($"/games/{player.BestGameId}")">#@player.BestGameId</a>)
                            </ChildContent>
                            <ElseContent>
                                —
                            </ElseContent>
                        </Container>
                    </td>
                </RowContent>
            </Table>
        </div>
    </ChildContent>
    <ElseContent>
        <LoadingAnimation>
            Chargement...
        </LoadingAnimation>
    </ElseContent>
</Container>
