@page "/players/{Id}"

<Container Condition="Loaded && PlayerFound">
    <ChildContent>
        <div class="container">
            <div class="m-3">
                <section class="hero m-3 is-primary is-small">
                    <div class="hero-body">
                        <p class="title">
                            @Player.Name
                        </p>
                        <p class="subtitle">
                            <a href="https://www.geoguessr.com/user/@Player.Id" target="_blank">
                                <span class="icon is-small">
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                <span>Profil GeoGuessr</span>
                            </a>
                        </p>
                    </div>
                </section>
            </div>

            <h1 class="is-size-4 my-3 mx-6">Statistiques générales</h1>
            <nav class="level mx-3 my-5">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Nombre de 5000</p>
                        <p class="title">@Player.PlayerScores.SelectMany(p => p.Rounds).Count(s => s == 5000)</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Nombre de 4999</p>
                        <p class="title">@Player.PlayerScores.SelectMany(p => p.Rounds).Count(s => s == 4999)</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Nombre de carte complétées</p>
                        <p class="title">@Player.PlayerScores.Count(p => p.Rounds.All(s => s is not null or 0))</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Meilleure partie (<span title="Seules les parties avec 3 cartes sont comptées" style="cursor:help">?</span>)</p>
                        <p class="title">
                            @{
                                List<PlayerScoreWithChallengeDto>? results = Player.PlayerScores.Where(p => (p.ChallengeTimeLimit ?? 300) == 300).GroupBy(p => p.GameId).Where(g => g.Count() == 3).OrderByDescending(g => g.OrderBy(c => c.ChallengeId).Select(p => p.Sum).Sum()).FirstOrDefault()?.OrderBy(c => c.ChallengeId).ToList();
                            }
                            <Container Condition="results is not null">
                                <ChildContent>
                                    @results!.Select(p => p.Sum).Sum()
                                </ChildContent>
                                <ElseContent>
                                    —
                                </ElseContent>
                            </Container>
                        </p>
                    </div>
                </div>
            </nav>

            <h1 class="is-size-4 my-3 mx-6">Meilleur score par carte</h1>
            <nav class="level mx-3 my-5">
                <Repeater Items="Maps" Context="map">
                    @{
                        PlayerScoreWithChallengeDto? score = Player.PlayerScores.Where(c => c.MapId == map.Id).OrderByDescending(p => p.Sum).FirstOrDefault();
                    }
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">@map.Name</p>
                            <p class="title">
                                <Container Condition="score?.Sum is not null">
                                    @score!.Sum
                                </Container>
                                <Container Condition="score?.Sum is null">
                                    —
                                </Container>
                            </p>
                        </div>
                    </div>
                </Repeater>
            </nav>

            <h1 class="is-size-4 my-3 mx-6">Statistiques diverses</h1>
            <nav class="level mx-3 my-5">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Nombre de 25k</p>
                        <p class="title">@Player.PlayerScores.Count(p => p.Sum == 25000)</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Moyenne par partie</p>
                        <p class="title">@((int)(Player.PlayerScores.Where(p => p.Sum is not null).Average(p => p.Sum) ?? 0))</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Moyenne par round</p>
                        <p class="title">@((int)(Player.PlayerScores.SelectMany(p => p.Rounds).Where(s => s is not null).Average() ?? 0))</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Nombre de 0</p>
                        <p class="title">@Player.PlayerScores.SelectMany(p => p.Rounds).Count(s => s == 0)</p>
                    </div>
                </div>
            </nav>

            <div class="columns m-3">
                <div class="column">
                    <Container Condition="ChallengesNotDone?.Any() == true">
                        <ChildContent>
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Cartes non jouées
                                    </p>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table table is-striped is-hoverable is-fullwidth">
                                            <tbody>
                                                <Repeater Items="ChallengesNotDone" Context="challenge">
                                                    <tr>
                                                        <td>@challenge.MapName</td>
                                                        <td>
                                                            <Container Condition="challenge.GameId != int.MaxValue">
                                                                <ChildContent>
                                                                    <a href="@NavigationManager.ToAbsoluteUri($"/games/{challenge.GameId}")">
                                                                        #@challenge.GameId
                                                                    </a>
                                                                </ChildContent>
                                                                <ElseContent>
                                                                    <a href="@NavigationManager.ToAbsoluteUri($"/challenges/{challenge.Id}")">
                                                                        #@challenge.Id (C)
                                                                    </a>
                                                                </ElseContent>
                                                            </Container>
                                                        </td>
                                                    </tr>
                                                </Repeater>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </ChildContent>
                        <ElseContent>
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Cartes non jouées
                                    </p>
                                </header>
                                <div class="no-challenges is-flex is-align-content-center is-align-items-center is-justify-content-center">
                                    Toutes les cartes disponibles ont été jouées !
                                </div>
                            </div>
                        </ElseContent>
                    </Container>
                </div>
                <div class="column">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                Historique des parties (<span class="help-tooltip" title="Seules les parties avec 3 cartes sont comptées, survoler les barres pour voir le score">?</span>)
                            </p>
                        </header>
                        <div class="card-content py-0">
                            <div class="container is-flex is-justify-content-center is-align-items-center m-0" style="max-height:250px;height:250px;">
                                <table class="charts-css column show-labels show-primary-axis show-data-axes show-5-secondary-axes">
                                    <caption>
                                        Historique des parties
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Partie</th>
                                            <th scope="col">Score</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <Repeater Items="GameHistoric" Context="game">
                                            <tr>
                                                <th scope="row"></th>
                                                <td style="--size: calc(@game.score / 75000);">
                                                    <span class="data"></span>
                                                    <span class="tooltip">Partie #@game.id<br />Score @game.score</span>
                                                </td>
                                            </tr>
                                        </Repeater>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>

    <ElseContent>
        <Container Condition="!Loaded && PlayerFound">
            <LoadingAnimation>
                Chargement du joueur @(Id)...
            </LoadingAnimation>
        </Container>

        <Container Condition="!PlayerFound">
            <PageNotFound />
        </Container>
    </ElseContent>
</Container>
