@page "/statistics"

<Container Condition="Players?.Any() == true || Locations?.Any() == true">
    <ChildContent>
        <div class="container">
            <Container Condition="Locations?.Any() == true">
                <h1 class="is-size-4 m-3">Joueurs</h1>
                <Table Items="Players"
                       Headers="@(new TableHeader[]
                                  {
                                      new("Joueur", true, nameof(PlayerStatistic.PlayerName)),
                                      new("Nombre de 5000", true, nameof(PlayerStatistic.NumberOf5000)),
                                      new("Nombre de 4999 😏", true, nameof(PlayerStatistic.NumberOf4999)),
                                      new("Nombre de carte complétées", true, nameof(PlayerStatistic.ChallengesCompleted)),
                                      new("Moyenne par round", true, nameof(PlayerStatistic.RoundAverage)),
                                      new("Meilleure partie", true, nameof(PlayerStatistic.BestGame))
                                  })"
                       SortFunction="Sort">
                    <RowContent Context="player">
                        <th><a href="@NavigationManager.ToAbsoluteUri($"/players/{player.PlayerId}")">@player.PlayerName</a></th>
                        <td>@player.NumberOf5000</td>
                        <td>@player.NumberOf4999</td>
                        <td>@player.ChallengesCompleted</td>
                        <td>@player.RoundAverage</td>
                        <td>
                            @player.BestGame (<a href="@NavigationManager.ToAbsoluteUri($"/games/{player.BestGameId}")">#@player.BestGameId</a>)
                        </td>
                    </RowContent>
                </Table>
            </Container>

            <Container Condition="Locations?.Any() == true">
                <h1 class="is-size-4 m-3">Lieux</h1>
                <Table Items="Locations"
                       Headers="@(new TableHeader[]
                                  {
                                      new("Nom", true, nameof(LocationDto.DisplayName)),
                                      new("Ville", true, nameof(LocationDto.Locality)),
                                      new("Info niveau 2", true, nameof(LocationDto.AdministrativeAreaLevel2)),
                                      new("Info niveau 1", true, nameof(LocationDto.AdministrativeAreaLevel1)),
                                      new("Pays", true, nameof(LocationDto.Country))
                                  })"
                       Paginate="true"
                       PageSize="15"
                       SortFunction="Sort"
                       CanSearch="true"
                       FilterFunction="Filter">
                    <RowContent Context="location">
                        <td>@(location.DisplayName ?? "—")</td>
                        <td>@(location.Locality ?? "—")</td>
                        <td>@(location.AdministrativeAreaLevel2 ?? "—")</td>
                        <td>@(location.AdministrativeAreaLevel1 ?? "—")</td>
                        <td>@(location.Country ?? "—")</td>
                    </RowContent>
                </Table>
            </Container>
        </div>
    </ChildContent>
    <ElseContent>
        <LoadingAnimation>
            Chargement...
        </LoadingAnimation>
    </ElseContent>
</Container>
