@page "/statistics/locations"

@inherits UserSettingsAwareComponent

@using Plotly.Blazor

<Container Condition="Locations?.Any() == true">
    <ChildContent>
        <div class="container">
            <Table Items="Locations"
                   Headers="@(new TableHeader[]
                                  {
                                      new("Nom", nameof(LocationDto.DisplayName)),
                                      new("Ville", nameof(LocationDto.Locality)),
                                      new("Info niveau 2", nameof(LocationDto.AdministrativeAreaLevel2)),
                                      new("Info niveau 1", nameof(LocationDto.AdministrativeAreaLevel1)),
                                      new("Pays", nameof(LocationDto.Country)),
                                      new("N.", nameof(LocationDto.TimesSeen)),
                                      new(string.Empty)
                                  })"
                   Paginate="true"
                   PageSize="15"
                   SortFunction="Sort"
                   CanSearch="true"
                   FilterFunction="Filter"
                   ShowRowCount="true">
                <RowContent Context="location">
                    <td>@(location.DisplayName ?? "—")</td>
                    <td>@(location.Locality ?? "—")</td>
                    <td>@(location.AdministrativeAreaLevel2 ?? "—")</td>
                    <td>@(location.AdministrativeAreaLevel1 ?? "—")</td>
                    <td>@(location.Country ?? "—")</td>
                    <td>@location.TimesSeen</td>
                    <td class="min">
                        <ActionIcon Link="@(new Uri($"https://www.google.com/maps/search/?api=1&query={location.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture)},{location.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture)}"))"
                                    Icon="fa-map-marked-alt"
                                    IsExternal="true" />
                    </td>
                </RowContent>
                <FooterContent>
                    <th colspan="7" class="has-text-right">
                        <span class="is-italic is-size-7 has-text-weight-light">* Graphique sur les 15 pays les plus visités. Prends quelques secondes à s'afficher.</span>
                        <button class="button is-small is-primary" @onclick="ShowCountryChartAsync">
                            Voir le graphique
                        </button>
                    </th>
                </FooterContent>
            </Table>
        </div>
    </ChildContent>
    <ElseContent>
        <div class="container is-flex">
            <TableSkeleton CanSearch Paginate />
        </div>
    </ElseContent>
</Container>
