@page "/games/{Id:int}"

@using GeoNRage.App.Pages.Games

<Container Condition="Loaded && GameFound">
	<PageTitle>@Game.Name</PageTitle>
</Container>

<Container Condition="HubClosed">
	<div class="notification is-danger error-alert">
		Connexion avec le serveur perdue, reconnexion echouée.
	</div>
</Container>

<Container Condition="HubReconnecting">
	<div class="notification is-warning error-alert">
		Connexion avec le serveur perdue, tentative de reconnexion...
	</div>
</Container>

<Container Condition="HubReconnected">
	<div class="notification is-info error-alert">
		Connexion avec le serveur rétablie. Vous pouvez à nouveau envoyer et recevoir des données, cependant les données reçues
		pendant la tentative de reconnexion ne seront pas mise à jour.
		<a @onclick="ReloadPageAsync">Rafraichir la page</a>
	</div>
</Container>

<Container Condition="Loaded && GameFound && (User.PlayerId is null || !Game.Players.Any(p => p.Id == User.PlayerId))">
	<div class="notification is-warning error-alert">
		Vous n'êtes pas connecté ou n'êtes pas joueur de la partie, vous ne verrez pas les mise à jour en temps réél.
	</div>
</Container>

<Container Condition="Loaded && GameFound">
	<div class="container is-fluid is-flex is-align-items-center is-align-self-center is-justify-content-center">
		<div class="card m-3">
			<header class="card-header">
				<div class="card-header-title is-size-3 game-title" style="display: block">
					<h1 class="title">@Game.Name</h1>
					<h2 class="subtitle">@Game.Date.ToShortDateString()</h2>
				</div>
				<div class="card-header-icon">
					<div class="field has-addons">
						<Container Condition="User.PlayerId is not null && !Game.Players.Any(p => p.Id == User.PlayerId)">
							<p class="control">
								<button class="button" @onclick="AddPlayerAsync">
									<span class="is-hidden-touch"></span>
									<span class="icon is-small">
										<i class="fas fa-plus"></i>
									</span>
									<span class="is-hidden-touch">Jouer la partie</span>
								</button>
							</p>
						</Container>
						<Container Condition="!HideScores">
							<p class="control">
								<button class="button" @onclick="() => ShowChart = true">
									<span class="is-hidden-touch"></span>
									<span class="icon is-small">
										<i class="fas fa-chart-line"></i>
									</span>
									<span class="is-hidden-touch">Graph.</span>
								</button>
							</p>
							<p class="control">
								<button class="button" @onclick="() => ShowRankings = true">
									<span class="is-hidden-touch"></span>
									<span class="icon is-small">
										<i class="fas fa-table"></i>
									</span>
									<span class="is-hidden-touch">Classement</span>
								</button>
							</p>
						</Container>
					</div>
				</div>
			</header>
			<div class="card-content">
				<div class="table-container">
					<table>
						<Repeater Items="Game.Challenges" Context="challenge">
							<tr>
								<th>
									@challenge.MapName
									<a href="https://www.geoguessr.com/challenge/@challenge.GeoGuessrId" target="_blank" class="action-button">
										<span class="icon">
											<i class="fas fa-link" aria-hidden="true"></i>
										</span>
									</a>
								</th>
								<Repeater Items="challenge.PlayerScores" Context="playerScore">
									<th>
										<Container Condition="User.PlayerId is not null && Game.Players.Any(p => p.Id == User.PlayerId) && playerScore.PlayerId != User.PlayerId">
											<ChildContent>
												<span class="icon-text">
													<span class="icon is-clickable" @onclick="(() => Taunt(playerScore.PlayerId))">
														<i class="fas fa-hand-middle-finger"></i>
													</span>
													<span>@playerScore.PlayerName</span>
												</span>
											</ChildContent>
											<ElseContent>
												@playerScore.PlayerName
											</ElseContent>
										</Container>
									</th>
								</Repeater>
							</tr>

							@{
								var i = 1;
							}
							<Repeater Items="Enumerable.Range(1, 5)" Context="round">
								<tr>
									<th>Round @round</th>
									@{
										var j = 1;
									}
									<Repeater Items="challenge.PlayerScores" Context="playerScore">
										@{
											var key = $"{challenge.Id}_{playerScore.PlayerId}_{round}";
										}
										<td>
											<Container Condition="User.PlayerId == playerScore.PlayerId || !HideScores">
												<ChildContent>
													<NumericInput @key="@key"
																  InitialValue="@Scores[(challenge.Id, playerScore.PlayerId, round)]"
																  ValueChanged="@(async (e) => { await SendAsync(challenge.Id, round, e);})"
																  Class="@($"{(Scores[(challenge.Id, playerScore.PlayerId, round)] == 5000 ? "perfect" : "")} {(Scores[(challenge.Id, playerScore.PlayerId, round)] == 4999 ? "almost-perfect" : "")} {(User.PlayerId != playerScore.PlayerId ? "default-score" : "")}")"
																  TabIndex="@(i + j)"
																  Disabled="User.PlayerId != playerScore.PlayerId"></NumericInput>
												</ChildContent>
												<ElseContent>
													<NumericInput @key="@key"
																  InitialValue="0"
																  Class="default-score"
																  TabIndex="@(i + j)"
																  Disabled="true"></NumericInput>
												</ElseContent>
											</Container>
										</td>
										@{
											j++;
										}
									</Repeater>
									@{
										i += 100;
									}
								</tr>
							</Repeater>

							<tr>
								<th>Total</th>
								<Repeater Items="challenge.PlayerScores" Context="playerScore">
									<th>@(Scores.Where(s => s.Key.challengeId == challenge.Id && s.Key.playerId == playerScore.PlayerId).Sum(s => s.Value) ?? 0)</th>
								</Repeater>
							</tr>
						</Repeater>

						<Container Condition="Game.Challenges.Any()">
							<tr class="bordered">
								<th>Total global</th>
								<Repeater Items="Game.Challenges.SelectMany(c => c.PlayerScores).GroupBy(p => p.PlayerId)" Context="playerScores">
									<th>@(Scores.Where(s => s.Key.playerId == playerScores.Key).Sum(s => s.Value) ?? 0)</th>
								</Repeater>
							</tr>
						</Container>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="modal @(ShowRankings ? "is-active" : "")">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Tableau des scores</p>
				<button class="delete" aria-label="close" @onclick="() => ShowRankings = false"></button>
			</header>
			<section class="modal-card-body">
				<GameRankings Scores="@Scores" Challenges="@Game.Challenges" Players="@Game.Players"></GameRankings>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-primary" @onclick="() => ShowRankings = false">Fermer</button>
			</footer>
		</div>
	</div>

	<div class="modal @(ShowChart ? "is-active" : "")">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Graphique</p>
				<button class="delete" aria-label="close" @onclick="() => ShowChart = false"></button>
			</header>
			<section class="modal-card-body">
				<GameChart Scores="@Scores" Challenges="@Game.Challenges" Players="@Game.Players" @ref="Chart"></GameChart>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-primary" @onclick="() => ShowChart = false">Fermer</button>
			</footer>
		</div>
	</div>
</Container>

<Container Condition="!Loaded && GameFound">
	<LoadingAnimation>
		Chargement de la partie @(Id)...
	</LoadingAnimation>
</Container>

<Container Condition="!GameFound">
	<PageNotFound />
</Container>

@code {
	public RenderFragment SoCloseFragment => @<figure class="image is-square"><img src="img/so-close.webp"></figure>;
	public RenderFragment TauntFragment => @<figure class="image is-square"><img src="img/noob.webp"></figure>;
}